.box,.box>figure,.box figcaption,.box h4,.box p,.box img{
	margin: 0;
	padding: 0;
}
.box>figure{
	position: relative;
	width: 33.33%;
	height: 350px;
	overflow: hidden;
	float: left;
}
.box figure img:hover{
	opacity: 0.8;
}
.box figcaption{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-family: "微软雅黑";
}
.box figure figcaption p{
	transition:all 0.35s; 
}
@media screen and (max-width:600px ) {
	.box>figure{width: 100%;}
}
@media screen and (min-width:601px) and (max-width:1000px ) {
	.box>figure{width: 50%;}
}
@media screen and (min-width:1001px ) {
	.box>figure{width: 33.33%;}
}

.fig1 figcaption{
	padding: 20px;
}
.fig1 figcaption p{
	background-color: #fff;
	color: #aaa;
	margin: 3px;
	text-align: center;
	transform: translate(-120px,0);
}
.fig1 figcaption p:nth-of-type(1){
	transition-delay: 0.05s;
}
.fig1 figcaption p:nth-of-type(2){
	transition-delay: 0.1s;
}
.fig1 figcaption p:nth-of-type(3){
	transition-delay: 0.15s;
}
.fig1:hover figcaption p{
	transform: translate(0,0);
}
.fig1:hover img{
	transform: translate(-20px,0);
}

.fig2 figcaption{
	width: 100%;
	height: 100%;
}
.fig2 figcaption h4,.fig2 figcaption p{
	margin-top: 15%;
	margin-left: 15%;
}
..fig2 figcaption p{
	transform: translate(0px,50px);
}
.fig2 figcaption div{
	border: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(0px,-350px) rotate(0deg);
}
.fig2:hover figcaption div{
	transform: translate(0px,0px) rotate(360deg);
}
.fig2:hover figcaption p{
	transform: translate(0px,0px);
}

.fig3 figcaption{
	position: absolute;
	top: 30%;
	left: 15%;
}
.fig3 figcaption h4{
	transform: skew(90deg);
}
.fig3 figcaption p{
	transform: skew(90deg);
	transform-delay:0.15s ;
}
.fig3:hover figcaption h4{
	transform: skew(0deg);
}
.fig3:hover figcaption p{
	transform: skew(0deg);
}

.fig4 figcaption{
	border: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	transform: scale(1.2,1.2);
	opacity: 0;
}
.fig4:hover figcaption{
	transform: scale(1,1);
	opacity: 1;
}
.fig4:hover img{
	transform: scale(1.2,1.2);
}
